In [2]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [10]:
mapa = {
    "home": "principal"
    ,"how_it_works": "como_funciona"
    ,"contact": "contato"
    ,"bought": "comprou"
}

dados = dados.rename(columns = mapa)

In [13]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados[["comprou"]]

In [14]:
x.head(1)

   principal  como_funciona  contato
0          1              1        0

In [15]:
y.head(1)

   comprou
0        0

In [17]:
dados.shape

(99, 4)

In [27]:
train_x = x[:75]
train_y = y[:75]

test_x = x[75:]
test_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [28]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [29]:
model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("A acurácia foi %.2f%%" % accuracy)

A acurácia foi 95.83%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Usando a biblioteca para separar treino e teste

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

In [50]:
train_x, test_x, train_y, test_y  = train_test_split(x, y, random_state = SEED, test_size = 0.25)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("A acurácia foi %.2f%%" % accuracy)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [52]:
train_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [53]:
test_y.value_counts()

comprou
0          19
1           6
dtype: int64

# Ajustando proporção

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

In [54]:
train_x, test_x, train_y, test_y  = train_test_split(x, y,
                                                     random_state = SEED, test_size = 0.25,
                                                     stratify = y)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("A acurácia foi %.2f%%" % accuracy)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [56]:
train_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [57]:
test_y.value_counts()

comprou
0          17
1           8
dtype: int64